/* Css reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --space: 15px;
}

/* Generics */
header{
    background-color: #3161E0;
}

/* Utils */
.flex_header{
    display: flex;
    justify-content: space-around;
}

.flex_nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.flex_row{
    display: flex;
    height: 200px;
    padding: var(--space) 0;
}

.header_upper{
    padding: var(--space) 0;
    background-color: aqua;
}

.upper{
    background-color: goldenrod;
    border: 1px solid black;
}

.header_container{
    margin: 0 auto;
    height: 200px;
    max-width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    /* border: 1px dashed black; */
}

.title{
    width: 800px;
    height: 80%;
    background-color: fuchsia;
}

.large{
    background-color: blue;
    flex-basis: 60%;
    height: 100%;
}

.small{
    background-color: pink;
    flex-basis: 40%;
    height: 100%;
}

.gray{
    background-color: gray;
}
