/* Css reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --space: 15px;
}

/* Generics */
header{
    background-color: #3161E0;
}

footer{
    background-color: #23272A;
}

/* Utils */
.flex_header{
    display: flex;
    justify-content: space-around;
}

.flex_nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.flex_row{
    display: flex;
    height: 200px;
    padding: var(--space) 0;
}

.header_upper{
    padding: var(--space) 0;
    background-color: aqua;
}

.upper{
    background-color: goldenrod;
    border: 1px solid black;
}

.header_container{
    margin: 0 auto;
    height: 200px;
    max-width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    /* border: 1px dashed black; */
}

.title{
    width: 800px;
    height: 80%;
    background-color: fuchsia;
}

.large{
    background-color: blue;
    flex-basis: 60%;
    height: 100%;
}

.small{
    background-color: pink;
    flex-basis: 40%;
    height: 100%;
}

.gray{
    background-color: gray;
}

.single_col .flex_row{
    height: 400px;
}

.div_green{
    width: 100%;
    height: 100%;
    background-color: green;
}

.nav_footer{
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid gray;
}

.nav_pink{
    border: 2px dashed black;
    flex-basis: 30%;
    background-color: pink;
}

.nav_blue{
    flex-basis: 70%;
    display: flex;
    background-color: aqua;
}

.flex_footer{
    display: flex;
    height: 400px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}

.footer_pink{
    background-color: pink;
    border: 2px dashed black;
    flex-basis: 30%;
}

.footer_blue{
    background-color: aqua;
    flex-basis: 70%;
    display: flex;
}

.blue_div{
    flex-basis: 25%;
    border: 2px dashed white;
}

.main_footer{
    display: flex;
    justify-content: space-between;
    padding: var(--space) 0;
    color: white;
    height: 100px;
}

